.col-md-4 {
  padding: 5px;
  background-color: #3e6865;
  min-height: 680px;
}

.container {
  padding: 8px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 5px;
  padding: 4px;
  background-color: #1f3d3b;
  opacity: 0.8;
}

img {
  width: 180px;
}

.highlight {
  color: #cecece;
}

.row {
  opacity: 0.9;
  margin-top: 20px;
}

.learning {
  font-weight: bold;
  background-color: #cecece;
}

p.unimportant .important {
  font-style: italic;
  font-weight: bold;
  background-color: #cecece;
}

img.main {
  float: left;
}

img.main2 {
  float: right;
}

img.main3 {
  float: left;
  padding: 15px;
}

img.contact {
  width: 100px;
  height: 100px;
}

a {
color: black;
font-weight: bold;
background-color: #94b2b0;
opacity: 0.5;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1547707981-eeb6a7ac3c25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  position: fixed;
}
