.col-md-4 {
  padding: 5px;
  background-color: #3a3d12;
}

.container {
  padding: 8px;
}

.top-buffer {
  margin-top:200px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  padding: 4px;
  background-color: #4e4f4c;
  opacity: 0.8;
}

img {
  width: 180px;
}

.highlight {
  color: #ffffff;
}


.row {
  opacity: 0.9;
  margin-top: 20px;
}

p.unimportant .important {
  font-style: italic;
  background-color: #ffffff;
}

img.main {
  float: left;
}

img.main2 {
  float: right;
}

img.main3 {
  float: left;
  padding: 15px;
}

#loud {
  font-size: 40px;
}

a {
color: black;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1547968196-230ad3b7cbf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
}
