.col-md-3 {
  padding: 5px;
  text-align: center;
  background: #777675;
}

.col-md-9 {
  padding: 5px;;
  background: linear-gradient(#777675, #123449);
}

.container {
  padding: 5px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  padding: 4px;
  background-color: #ffffff;
  opacity: 0.8;
}

img {
  width: 180px;
}

.highlight {
  color: #ff810c;
}


.row {
  opacity: 0.9;
  margin-top: 20px;
}

p.unimportant .important {
  font-style: italic;
  background-color: #80b2af;
}

img.main {
  float: left;
}

img.main2 {
  float: right;
}

#loud {
  font-size: 40px;
}

a {
color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1513147122760-ad1d5bf68cdb?ixlib=rb-1.2.1&auto=format&fit=crop&w=2500&q=80");
}
